<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {

  background-color: #3f51b5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
      margin-left: 400px;
      margin-block-start: 40px;
      font-size: 20px;
      font-family: serif;
}

 input[type=button]:hover {
  background-color: #3f51b5;

}

#di {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#navdi {
  border-radius: 5px;
  background-color: #ffeb3b;
  padding: 20px;
  margin: 50px;
}

</style>