<style>
body {
  background-color:pink;
}

#navDiv ul {
  list-style-type: none;
  margin: 0;
  margin-block-end: 30px;
  padding: 0;
  overflow: hidden;
  background-color: midnightblue;
}

#navDiv li {
  float: left;
}

#navDiv li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navDiv li a:hover, .dropdown:hover .dropbtn {
  background-color: midnightblue;
}

#navDiv li.dropdown {
  display: inline-block;
}

#navDiv .dropdown-content {
  display: none;
  position: absolute;
  background-color: midnightblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

#navDiv .dropdown-content a {
  color: whiteSmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;]
  font-style: italic;
}

#navDiv .dropdown-content a:hover {background-color: hotPink}

#navDiv .dropdown:hover .dropdown-content {
  display: block;
}
</style>